//---------------------------------------------------------------------
// Take5 T54 - Personal Protective Equipment (PPE)
//---------------------------------------------------------------------
.question-clive {
	.component-body {
		background-image: url(assets/question-clive.png);
		background-repeat:no-repeat;

		background-position: top left;
		padding-left: 80px;
		padding-top: @component-padding*2;

		.dir-rtl & {
			background-position: top right;
			padding-left: @component-padding;
			padding-right: 80px;
        }
	}
	.component-instruction {
		padding-left: 80px;
		.dir-rtl & {
			padding-left: @component-padding;
			padding-right: 80px;
        }
	}
}

.pas-close-button {
	margin-top: 0px !important;
}
