.box-menu-inner {
	.menu-item-button {
		button {
			border-radius: @button-radius;
		}
	}
	.page-level-progress-menu-item-indicator {
			border: none;
	}
	.menu-item-inner {
		background-color: @text-background-color;
	}
}
