.scenario-audio-component {

    .scenario-audio-indicators {
        background-color: @text-background-color;
        .no-opacity & {
            background-color: @text-background-color-fallback;
        }
    }

    .scenario-audio-progress {
      margin-bottom: 10px;
        background-color: @item-color;
        &.selected {
          background-color: @item-color-selected;
        }
    }

    .component-widget {
    	margin-top: 0px;
    }

}
