.search-drawer {
  background-color: @drawer-inactive-color !important;
    .drawer-item-open {
      width: @custom-drawer-width !important;
      border-bottom: 0px !important;
      color: @bespoke-drawer-text-color !important;
      background-color: @drawer-inactive-color !important;
      &:hover {
      	background-color: @drawer-inactive-color !important;
      }
    }
    .search-results {
        margin-top: 0px !important;
        padding: 10px;
    }
    .list-item.search {
    	padding: 10px !important;
    }
}

.drawer-item-open {
  &.search-drawer {
    width: @custom-drawer-width !important;
    .list-item.search {
    	padding-left: 0px !important;
      padding-right: 0px !important;
    }
    .search-results {
        padding: 0px;
    }
  }
}
